<header>
  <h1 class="display-4 ">"Hello. I'm Stefan, an aspiring Developer. I have a passion for making things."</h1>
</header>
<section class="wrapper container">

  <div class="row">
    <div class="project-images"> <!-- start images -->
      <div class="container main-projects">

        <h1 class="project-title offset-sm-1">Projects ~</h1>

        <p class="offset-sm-2">These are a few projects I have worked on.</p>

      </div class=""> <!-- container main-projects -->
      <div class="ph"><a href="/pages/project1"><img src="http://res.cloudinary.com/dggzym4rl/image/upload/v1489531982/atm_wnrqc2.png" alt="">
        <figcaption>CFA - ATM Bank</figcaption>
      </a>
      </div>

      <div class="ph"><a href="/pages/project2"><img src="http://res.cloudinary.com/dggzym4rl/image/upload/c_scale,w_1500/v1490325101/Screen_Shot_2017-03-24_at_2.07.39_pm_n7rkc2.png" alt="">
        <figcaption>CFA - Trent Tracker</figcaption>
      </a>
      </div>

      <!-- <div class="ph ph3">Coming Soon...</div>

      <div class="ph ph4">Coming Soon...</div>

      <div class="ph ph5">Coming Soon...</div> -->

    </div><!-- end images -->
    <div class="about"> 

      <h1 class="offset-sm-1">
        A Little About Myself ~
      </h1>

      <p>I am currently a student at Coder Factory Academy in Sydney, Australia. I really enjoy web-development, and the challenges that come with it. When I'm not coding I like to  watch movies, go for a walk, play video games and more.</p>

      <p>When I have finished studying at CFA I'd like to become a Full-Stack Front-End Web Developer.</p>

    </div><!-- end about -->
  </div><!--end row -->
</section>

  <div class="in-touch">

    <h3 class="">Wanna get in touch with me?</h3>
    <p>-- E-mail to get in contact with me -- </p>

    <a href="mailto:stefan.piatkov@gmail.com" target="_top">Email me</a>

  </div><!-- end in-touch -->
</div><!-- end container div -->

<!-- FOR FUTURE- as reference -->

<!-- <div class="col-sm-6 project-link img-fluid"><a href="/pages/project1"><img src="http://placehold.it/500x300"></a></div>

<div class="col-sm-6 project-link img-fluid"><a href="/pages/project2"><img src="http://placehold.it/500x300"></a></div>

<div class="col-sm-2 project-link img-fluid"><a href="/pages/project3"><img src="http://placehold.it/250x125"></a></div>

<div class="col-sm-6 project-link img-fluid"><a href="/pages/project4"><img src="http://placehold.it/500x125"></a></div>

<div class="col-sm-2 project-link img-fluid"><a href="/pages/project5"><img
src="http://placehold.it/250x125"></a></div> -->
