<header>
  <h1 class="display-4">"Hello. I'm Stefan, an aspiring Developer. I have a passion for fabricating things."</h1>
</header>
<div class="">
  <div class="row">

    <div class="project-images">

      <div class="col-xs-12">

        <h1 class="project-title">Projects ~</h1> <br/>

      </div>

      <div class="ph ph1">Coming Soon...</div>

      <div class="ph ph2">Coming Soon...</div>

      <div class="ph ph3">Coming Soon...</div>

      <div class="ph ph4">Coming Soon...</div>

      <div class="ph ph5">Coming Soon...</div>

    </div>
    <div class="about">

      <h1>
        A Little About Myself ~
      </h1>

      <p>I am currently a student at Coder Factory Academy in Sydney, Australia. I enjoy web-development, and the challenges that come with it. When I'm not coding I like to go for a walk, cook good food, watch movies, play video games and more.</p> <br/>

      <p>When I have finished studying at CFA I'd like to become a Full-Stack Front-End Web Developer.</p>

    </div><!-- end about -->
  </div><!-- end images -->


  <div class="in-touch">
    <h3 class="">Wanna get in touch with me?</h3>
    <p>---Currently Unavailable--- </p>

    <a href="mailto:stefan.piatkov@gmail.com" target="_top">Email me</a>

  </div><!-- end in-touch -->
</div><!-- end container div -->

<!-- FOR FUTURE -->

<!-- <div class="col-sm-6 project-link img-fluid"><a href="/pages/project1"><img src="http://placehold.it/500x300"></a></div>

<div class="col-sm-6 project-link img-fluid"><a href="/pages/project2"><img src="http://placehold.it/500x300"></a></div>

<div class="col-sm-2 project-link img-fluid"><a href="/pages/project3"><img src="http://placehold.it/250x125"></a></div>

<div class="col-sm-6 project-link img-fluid"><a href="/pages/project4"><img src="http://placehold.it/500x125"></a></div>

<div class="col-sm-2 project-link img-fluid"><a href="/pages/project5"><img
src="http://placehold.it/250x125"></a></div> -->
