
<div class="project-page main-margin">
  <div class="heading-image">

    <a href="/pages/project1"><div class="ph"><img src="http://res.cloudinary.com/stefank9/image/upload/v1489531982/atm_wnrqc2.png" alt="ATM-ClassProject"></a><!-- how to make images "links" -->

  </div><!-- end heading-image -->
  <div class="container project-container">
    <div class="about-project">

      <div class="row main-project-title">

        <h2>CFA - ATM</h2>

          <div class="col-md-4 titles title1">
          <h3>Date Created</h3>
          <p>February 2017</p>
          </div>

          <div class="col-md-4 titles title2">
          <h3>Client</h3>
          <p>N/A</p>
          </div>

          <div class="col-md-4 titles title3">
          <h3>Languages & Skills</h3>
          <p>Ruby</p>
          <p>Loops & Arrays</p>
          </div>

          <div class="col-md-4 titles title4">
          <h3>Team</h3>
          <p>-none-</p>
          <!-- <p>name name</p> -->
          </div>

        <a href="https://github.com/AR8Stefan/CFA-BankApp-v1"><h4 class="team-name col-md-6">Link to GitHub repo.</h4></a>

      </div>
    </div> <!-- end about project -->
    <div class="project-img">

      <a href="/pages/project1"><img src="http://placehold.it/500x300"></a>

    </div>

    <div class="container">

      <div class="project-description">
        <h2 class="col-sm-12 col-md-12">Title:</h2>
      </div>

    </div>

    <div class="container portrait-imgs">
      <div class="project-img image1">

        <a href="/pages/project1"><img src="http://placehold.it/200x300"></a>

      </div>

      <div class="project-img image2">

        <a href="/pages/project1"><img src="http://placehold.it/200x300"></a>

      </div>

      <div class="project-img image3">

        <a href="/pages/project1"><img src="http://placehold.it/200x300"></a>

      </div>
    </div><!-- end portrait-imgs -->

    <div class="project-img heading-image image4">

      <a href="/pages/project1"><img src="http://placehold.it/800x300"></a>

    </div>

    <div class="container portrait-imgs row">

      <div class="project-img image5 col">
        <a href="/pages/project1"><img src="http://placehold.it/200x300"></a>

      </div>

      <div class="project-img image6 col">
        <a href="/pages/project1"><img src="http://placehold.it/200x300"></a>

      </div>

      <div class="more-info col">

        <h3>More information</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

    </div><!-- end portrait-imgs -->
  </div><!-- end container -->
</div><!-- end project page -->
