
<div class="project-page main-margin">

  <div class="heading-image">

    <a href="/pages/project1"><div class="ph"><img src="http://res.cloudinary.com/stefank9/image/upload/v1493953615/Screen_Shot_2017-05-05_at_10.30.15_am_t2oeg4.png" alt=""><!-- how to make images "links" -->
    </div></a><!-- end heading-image -->

  <div class="container">
    <div class="about-project">
      <div class="main-project-title row">
        <h2>CFA Project_2 - Refugee Recruitment Agency </h2>
      </div> <!-- end row 1 -->
          
        <div class="row">
          <div class="col titles">
            <h3>Date Created</h3>
              <p>April 2017</p>
          </div>

          <div class="col titles">
            <h3>Client</h3>
              <p>N/A</p>
          </div>
        </div><!-- end row 2 -->

      
      <div class="row">

        <div class="col titles">
          <h3>Languages & Skills</h3>
            <p>Ruby, HTML5, Bootstrap3</p>
            <p>Postgres</p>
            <p>Internal Messaging</p>
            <p>Internal Search</p>
            <p>Translation</p>
        </div>

        <div class="col titles">
          <h3>Team</h3>
            <p>-none-</p>
        <!-- <p>name name</p> -->
        </div>
      </div><!-- end row 3 -->

      <div class="project-img row">

        <a href="/pages/project1"><img src="http://res.cloudinary.com/stefank9/image/upload/v1493953618/Screen_Shot_2017-05-05_at_12.43.49_pm_m9sy6m.png"></a>

      </div><!-- end container -->

        <div class="portrait-imgs">
          <div class="more-info col row">

            <h3 class="col-md-12">About Project 2</h3>

              <p class="col-md-10">This project was a really difficult challenge for me personally. It was a love hate realationship, I loved to work on it when things were working and hated it when parts broke. Overall it was a good experience, and helped me learn new things about Rails and myself.</p>

              <p class="col-md-12">The challenge for this project was to impress either Barack Obama, Bill & Malinda Gate or Rupert Murdoch by solving a real world problem. I chose to atempt to impress Barack as he has a soft spot for helping those in need. In my case I felt like regugees were in need of help as they don't really have an easy life once they have been let into a country. Most countries only allow them to have 90 day to find a job, buy a house and car. If they fail to do either of those things they get sent somewhere else.</p>
          </div>
        </div><!-- end container -->

        <a href="https://github.com/AR8Stefan/CFA-Project2-RRA"><h4 class="team-name git-repo col-md-4">To Git Repo.</h4></a>

        <a href="https://stefan-refugeerecruitment.herokuapp.com/"><h4 class="team-name git-repo col-md-4">To Heroku App.</h4></a>

      </div> <!-- end row 4 -->
    </div> <!-- end about project-->
    
  </div><!-- end container -->
</div><!-- end project page -->
