
<div class="project-page main-margin">

  <div class="heading-image">

    <a href="/pages/project1"><div class="ph"><img src="http://res.cloudinary.com/stefank9/image/upload/v1493953615/Screen_Shot_2017-05-05_at_10.30.15_am_t2oeg4.png" alt=""><!-- how to make images "links" -->
    </div></a><!-- end heading-image -->

  <div class="container">
    <div class="about-project">
      <div class="main-project-title row">
        <h2>CFA Project_2 - Refugee Recruitment Agency </h2>
      </div> <!-- end row 1 -->
          
        <div class="row">
          <div class="col titles">
            <h3>Date Created</h3>
              <p>April 2017</p>
          </div>

          <div class="col titles">
            <h3>Client</h3>
              <p>N/A</p>
          </div>
        </div><!-- end row 2 -->

      
      <div class="row">

        <div class="col titles">
          <h3>Languages & Skills</h3>
            <p>Ruby, HTML5, Bootstrap3</p>
            <p>Postgres</p>
            <p>Internal Messaging</p>
            <p>Internal Search</p>
            <p>Translation</p>
        </div>

        <div class="col titles">
          <h3>Team</h3>
            <p>-none-</p>
        <!-- <p>name name</p> -->
        </div>
      </div><!-- end row 3 -->

      <div class="project-img row">

        <a href="/pages/project1"><img src="http://res.cloudinary.com/stefank9/image/upload/v1493953618/Screen_Shot_2017-05-05_at_12.43.49_pm_m9sy6m.png"></a>

      </div><!-- end container -->

        <div class="portrait-imgs">
          <div class="more-info col row">

            <h3 class="col-md-12">About Project 2</h3>

              <p class="container">This project was a really difficult challenge for me personally. Overall it was a good experience, and helped me learn new things about Rails and myself. The challenge for this project was to impress either Barack Obama, Bill & Malinda Gates or Rupert Murdoch by solving a real world problem.</p>

              <p class="container">I chose to atempt to impress Barack as he has a soft spot for helping those in need. In my case I felt like regugees were in need of help as they don't really have an easy life once they have been let into a country. Most countries only allow them to have 90 day to find a job, buy a house and car. If they fail to do either of those things they get sent somewhere else.</p>

              <p class="container">Before building the application I first had to come up with an idea to impress one of the 3 mentioned above. First, I thought it would be cool to impress Bill & Malinda with some kind of chairity. As I kept researching Rupert and Barack, I noticed Barack liked to help those less fortunate than he is. - Also most people in the class were a chairity. I did more research on how I could help people struggling to pick there lives up. I spoke with my Fiancee during class and she mentioned Syria and Iraq, I could help the refugees!</p>

              <p class="container col-md-4">Next came the ERD and Wireframes. As I was building the application I decided to remove a few features I originally intended to put into the project due to time constraints and difficulty with not understanding Ruby on Rails well yet. The reason I chose the brown colour theme for the project was to make it feel more homely. After nearing completion of the project as it was, I also thought I should add the features I previously dropped back into the project once I have submitted it (Currently still adding said feature). I felt as if I need to learn rails more and this is a good oportunity to so so.</p>

              <img class="" src="http://res.cloudinary.com/stefank9/image/upload/v1493111665/Screen_Shot_2017-04-14_at_2.15.39_pm_cibnco.png">

              <p>The purpose of this application is for the government to upload data about refugees coming into Australia, for recruiters and other people looking for someone to work for them. The person looking for a refugee to hire will need to log in to search for a refugee and contact them if they want to continue. There will also be an option for the government to mark if the refugee speaks english or not, so as the person wanting to contact them will know if they will need an interpreter for the interview process or invest in english lessons for the person.</p>

              <p>Currently I'd like to implement a section for refugees to also use the application. I personally think it'd benefit refugees to also look for schools for their families and children if any that have arrived with them. This will be split into 2 sections - Schools/courses to learn English and Education such as High Schools & Universities. I would like to try site-wide translation for the application, as Google translates by which country you are currently in. Eg. Greece to Greek, Russia to Russian.</p>

              <p class="container">Below are the documentation and the live site.</p>
          </div>
        </div><!-- end container -->

        <a href="https://github.com/AR8Stefan/CFA-Project2-RRA"><h4 class="team-name git-repo col-md-4">To Git Repo.</h4></a>

        <a href="https://stefan-refugeerecruitment.herokuapp.com/"><h4 class="team-name git-repo col-md-4">To Heroku App.</h4></a>

      </div> <!-- end row 4 -->
    </div> <!-- end about project-->
    
  </div><!-- end container -->
</div><!-- end project page -->
