<div class="main-margin">
  <div class="container">
    <div class="resume">
      <h2>RESUME</h2>

      <p>Some text goes here.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      </p>

      <br/>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      </p>

      <br/>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      </p>

      <br/>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      </p>

      <br/>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      </p>
    </div><!--end bio -->

    <div>
      <h3>My Skills</h3>
        <div class="container opensans">
          <ul>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
            <li>skills</li>
          </ul>
        </div>
    </div><!--end skills -->

    <div class="">

    </div>
  </div><!--end container -->
</div><!--end margin -->
