// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************
GENERAL
***********************************************/

/** {
  border: 1px solid red !important;
}*/

html h1 , html h2 , html h3 , html h4 , html h5 , html h6 , a {
  font-family: 'Karla', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

nav, ul {
  list-style-type: none;
}

.display-4 {
  font-family: 'Overpass Mono', monospace;
}

.git-repo {
  text-align: center;
}

/***********************************************
HEADINGS
***********************************************/

h2 {
  padding-top: 50px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

h4 {
  padding-top: 30px;
  padding-bottom: 25px;
}

/***********************************************
NAVIGATION
***********************************************/

nav {
  max-height: 70px;
}

img.logo {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

li.nav-link {
  display: inline-block;
  float: right;
  padding: 8px;
}

/* nav links */


/* selected nav links */


/***********************************************
FOOTER
***********************************************/

footer {
  position: absolute;
  list-style: none;
  padding: 10px 0 0 0;
  font-size: 0.75em;
  text-align: center;
  clear: both;
  width: 100%;
  height: 100px;
}

footer p {
  padding-bottom: 10px;
  margin-bottom: 0rem;
}

footer a {
  display: inline-block;
  padding: 8px;
}

/***********************************************
PAGE PORTFOLIO
***********************************************/

/*.main-page {
  text-wrap: auto;
}*/

header {
  display: flex;
  text-align: center;
  margin-top: 15px;
  line-height: 2; // to space lines apart - NOT APPLYING
}

section {
  max-width: 100%;
}

.display-4 { // NOT ALLPYING?
  font-weight: .75rem;
}

.project-title {
  margin-top: 14px;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  /*max-width: -9999px;*/
}

/*.main-bg {
  margin: 0, -50px;
  padding: 0, -20px;
}*/

/*.project-images {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.project-title {
    margin: 20px;
}

.main-projects {
  display: flex;
  justify-content: space-around;
  align-content: center;
}*/

/***********************************************
BOX SIZES --------------------------------------
***********************************************/

.ph {
  display: flex;
  flex-wrap: wrap;
  content-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

img {
  width: 500px;
  height: 300px;
  background-color: #EB013B;
}

.ph3, .ph5 {
  width: 150px;
  height: 200px;
  background-color: #EB013B;
}

.ph4 {
  width: 500px;
  height: 200px;
  background-color: #EB013B;
}

/***********************************************
SECTION ABOUT
***********************************************/

.about {
  text-align: center;
  padding: 10px 5px 2px 5px;
  max-width: 100%;
  overflow: hidden;
}

/***********************************************
PAGE RESUME
***********************************************/

.skills {
  padding: 10px;
}

/***********************************************
PAGE CONTACT
***********************************************/

.in-touch {
  text-align: center;
  margin: 10px;
  max-width: 100%;
}

/***********************************************
PAGE PROJECTS_PAGES
***********************************************/

/*.project-page {
  margin-top: 60px;
  max-width: 100%
}*/

.heading-image {
  text-align: center;
}

.about-project {
  /*display: flex;
  flex-wrap: wrap;
  align-self: auto;
  flex-basis: 500px;
  margin: 10px;*/
  font-size: .85em;
}

.main-project-title {
  margin-right: auto;
  align-content: space-between;
  flex-direction: column;
}

.titles {
  margin: 10px;
}

.project-description {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.project-img {
  margin-top: 15px;
}

.more-info {
  flex-basis: 400px;
}

/***********************************************
COLOURS
***********************************************/

/*
// 38112D - nav/header/intro
// & contact
// 231429 - footer & projects
// 18131C - about
// EB013B - redness
// ECDCDC - off-white
*/

/* Backgrounds */

nav {
  background-color: #38112D;
}

html body, header {
  background: #38112D;
}

.full-width, footer {
  background-color: #231429;
}

.main-bg {
  background-color: #231429;
}

.about {
  background: #18131C;
}

/* Text */

html h1, html h2, html h3, html h4, html h5, html h6, html p, figcaption {
  color: #ECDCDC;
}

.skills {
  color: #ECDCDC;
}

html a {
  color: #EB013B;
}

html a:hover {
  color: #EB013B;
}

.team-name {
  color: #ECDCDC
}

figcaption, .team-name:hover {
  color: #EB013B
}

// html a:visited {
//  font-weight: bold;
//  color: #EB013B;
// }

/* nav background for mobile */


/* logo text */


/* links */

/***********************************************
MEDIA QUERIES
***********************************************/
